*.iml
source/website/public/runtimeConfig.json
*/.DS_Store
.DS_Store
.idea/*
node_modules
package
deployment/regional-s3-assets
deployment/global-s3-assets
dist
webapp-manifest.json
*.zip
source/.coverage
source/amc_uploader/amc_uploader.egg-info/
source/tests/coverage-reports/
deployment/open-source
__pycache__
.scannerwork/*
source/tests/.DS_Store
source/tests/amc_transformation/test_results
source/tests/amc_transformation/test_results/*
source/tests/.coverage
